@import url("//fonts.googleapis.com/css?family=Montserrat:900&text=Science!");
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: #141414;
}
html {
  height: 100%;
  background-color: #090A0F;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 657px 1332px #FFF , 1069px 702px #FFF , 269px 1207px #FFF , 769px 1269px #FFF , 1757px 1546px #FFF , 621px 965px #FFF , 1540px 1209px #FFF , 943px 1647px #FFF , 613px 1137px #FFF , 262px 664px #FFF , 1201px 87px #FFF , 1355px 1179px #FFF , 554px 656px #FFF , 1455px 64px #FFF , 1937px 983px #FFF , 216px 1290px #FFF , 1999px 1281px #FFF , 1578px 280px #FFF , 479px 765px #FFF , 914px 1344px #FFF , 1527px 66px #FFF , 1355px 506px #FFF , 771px 782px #FFF , 1003px 88px #FFF , 1435px 296px #FFF , 1541px 780px #FFF , 585px 1778px #FFF , 678px 1161px #FFF , 779px 1856px #FFF , 610px 1077px #FFF , 107px 670px #FFF , 195px 1351px #FFF , 1196px 792px #FFF , 1773px 1367px #FFF , 1570px 1994px #FFF , 216px 60px #FFF , 1601px 1404px #FFF , 1548px 1085px #FFF , 1535px 291px #FFF , 1221px 1979px #FFF , 1110px 1383px #FFF , 1251px 598px #FFF , 1356px 1254px #FFF , 1212px 1020px #FFF , 1965px 627px #FFF , 1185px 341px #FFF , 321px 495px #FFF , 1029px 1632px #FFF , 435px 599px #FFF , 56px 1385px #FFF , 389px 957px #FFF , 1593px 1369px #FFF , 184px 340px #FFF , 1314px 985px #FFF , 1632px 405px #FFF , 1164px 797px #FFF , 910px 826px #FFF , 1207px 90px #FFF , 719px 142px #FFF , 614px 292px #FFF , 1331px 84px #FFF , 1909px 362px #FFF , 1431px 1639px #FFF , 936px 1573px #FFF , 831px 107px #FFF , 1006px 1053px #FFF , 1931px 1308px #FFF , 1767px 140px #FFF , 168px 1941px #FFF , 820px 1116px #FFF , 1741px 178px #FFF , 850px 1356px #FFF , 358px 311px #FFF , 1324px 706px #FFF , 1411px 1361px #FFF , 962px 893px #FFF , 809px 1652px #FFF , 1321px 497px #FFF , 1417px 239px #FFF , 1766px 1795px #FFF , 1584px 1821px #FFF , 627px 1293px #FFF , 1394px 64px #FFF , 740px 514px #FFF , 262px 637px #FFF , 274px 1776px #FFF , 37px 858px #FFF , 713px 303px #FFF , 945px 1987px #FFF , 344px 1199px #FFF , 268px 1127px #FFF , 85px 59px #FFF , 372px 1210px #FFF , 223px 54px #FFF , 1535px 306px #FFF , 1828px 977px #FFF , 1631px 1987px #FFF , 1347px 1788px #FFF , 1243px 686px #FFF , 120px 268px #FFF , 723px 694px #FFF , 628px 1333px #FFF , 1133px 1524px #FFF , 582px 381px #FFF , 384px 356px #FFF , 1144px 471px #FFF , 217px 1357px #FFF , 1480px 1610px #FFF , 1947px 1282px #FFF , 1196px 1523px #FFF , 791px 538px #FFF , 691px 20px #FFF , 1938px 53px #FFF , 1242px 1351px #FFF , 1534px 1593px #FFF , 363px 17px #FFF , 427px 309px #FFF , 1613px 1102px #FFF , 230px 411px #FFF , 388px 890px #FFF , 1454px 418px #FFF , 103px 828px #FFF , 1360px 1654px #FFF , 417px 1617px #FFF , 1407px 373px #FFF , 1034px 1740px #FFF , 309px 99px #FFF , 741px 533px #FFF , 546px 1042px #FFF , 364px 3px #FFF , 738px 1602px #FFF , 930px 1619px #FFF , 1196px 1676px #FFF , 908px 1232px #FFF , 51px 1858px #FFF , 99px 1136px #FFF , 607px 214px #FFF , 1705px 639px #FFF , 1538px 154px #FFF , 1838px 1453px #FFF , 378px 1143px #FFF , 934px 640px #FFF , 1039px 143px #FFF , 776px 74px #FFF , 574px 571px #FFF , 1242px 101px #FFF , 913px 576px #FFF , 429px 1152px #FFF , 1747px 784px #FFF , 946px 1802px #FFF , 1271px 1982px #FFF , 780px 682px #FFF , 1850px 1556px #FFF , 1371px 1908px #FFF , 137px 106px #FFF , 754px 362px #FFF , 1198px 1182px #FFF , 429px 415px #FFF , 1894px 800px #FFF , 252px 1726px #FFF , 417px 901px #FFF , 1623px 831px #FFF , 702px 1933px #FFF , 628px 1464px #FFF , 1546px 97px #FFF , 57px 1601px #FFF , 871px 1519px #FFF , 1550px 439px #FFF , 1094px 1555px #FFF , 1935px 468px #FFF , 1941px 1762px #FFF , 128px 37px #FFF , 1616px 1756px #FFF , 1620px 1134px #FFF , 963px 59px #FFF , 1972px 1987px #FFF , 1078px 1211px #FFF , 1684px 1589px #FFF , 735px 78px #FFF , 929px 1028px #FFF , 1207px 1920px #FFF , 1234px 551px #FFF , 1804px 1443px #FFF , 700px 288px #FFF , 1771px 333px #FFF , 1543px 786px #FFF , 1821px 1079px #FFF , 14px 1312px #FFF , 1088px 750px #FFF , 1671px 1654px #FFF , 272px 1771px #FFF , 1694px 873px #FFF , 671px 1811px #FFF , 203px 1034px #FFF , 1475px 201px #FFF , 1809px 918px #FFF , 21px 196px #FFF , 1839px 235px #FFF , 637px 1289px #FFF , 1625px 1733px #FFF , 182px 1706px #FFF , 624px 620px #FFF , 1918px 500px #FFF , 154px 1265px #FFF , 1954px 191px #FFF , 393px 918px #FFF , 1172px 1180px #FFF , 1085px 911px #FFF , 700px 1469px #FFF , 936px 1652px #FFF , 202px 605px #FFF , 1451px 563px #FFF , 831px 610px #FFF , 1946px 1992px #FFF , 653px 482px #FFF , 1350px 1736px #FFF , 1035px 1955px #FFF , 636px 1080px #FFF , 667px 1248px #FFF , 775px 426px #FFF , 188px 237px #FFF , 1369px 798px #FFF , 49px 1322px #FFF , 1414px 1153px #FFF , 351px 1678px #FFF , 647px 1661px #FFF , 1274px 174px #FFF , 634px 1683px #FFF , 154px 537px #FFF , 1050px 1201px #FFF , 816px 714px #FFF , 1687px 315px #FFF , 1548px 629px #FFF , 314px 1048px #FFF , 201px 428px #FFF , 799px 711px #FFF , 363px 283px #FFF , 177px 768px #FFF , 1697px 1118px #FFF , 750px 1466px #FFF , 629px 1343px #FFF , 1914px 836px #FFF , 37px 1210px #FFF , 204px 1382px #FFF , 341px 1370px #FFF , 1951px 418px #FFF , 1504px 85px #FFF , 1479px 1435px #FFF , 430px 625px #FFF , 516px 955px #FFF , 1263px 1622px #FFF , 1782px 618px #FFF , 1425px 580px #FFF , 86px 1311px #FFF , 1616px 801px #FFF , 1535px 1069px #FFF , 1333px 1837px #FFF , 1747px 1842px #FFF , 17px 1200px #FFF , 775px 497px #FFF , 630px 1008px #FFF , 1589px 838px #FFF , 206px 1326px #FFF , 1381px 1234px #FFF , 1292px 861px #FFF , 162px 1883px #FFF , 577px 1525px #FFF , 1211px 766px #FFF , 1939px 935px #FFF , 336px 1091px #FFF , 766px 1746px #FFF , 1350px 534px #FFF , 930px 147px #FFF , 1504px 1673px #FFF , 1652px 1882px #FFF , 1253px 302px #FFF , 426px 759px #FFF , 1322px 546px #FFF , 1785px 1917px #FFF , 1059px 993px #FFF , 917px 1162px #FFF , 1199px 1303px #FFF , 1320px 877px #FFF , 1094px 1793px #FFF , 1782px 263px #FFF , 1318px 88px #FFF , 899px 1629px #FFF , 1195px 1129px #FFF , 1191px 1931px #FFF , 570px 921px #FFF , 1981px 1760px #FFF , 1899px 583px #FFF , 251px 375px #FFF , 1766px 594px #FFF , 129px 1236px #FFF , 1145px 1637px #FFF , 1319px 109px #FFF , 1719px 389px #FFF , 1272px 1361px #FFF , 1879px 302px #FFF , 895px 1501px #FFF , 574px 1465px #FFF , 1124px 281px #FFF , 1314px 87px #FFF , 464px 168px #FFF , 1881px 727px #FFF , 1834px 1184px #FFF , 1720px 1050px #FFF , 302px 284px #FFF , 1968px 1597px #FFF , 1825px 687px #FFF , 1227px 233px #FFF , 60px 1371px #FFF , 212px 1251px #FFF , 1094px 1613px #FFF , 1399px 318px #FFF , 1334px 535px #FFF , 1571px 182px #FFF , 1898px 40px #FFF , 167px 965px #FFF , 66px 104px #FFF , 905px 1906px #FFF , 45px 981px #FFF , 1371px 1146px #FFF , 166px 1295px #FFF , 160px 699px #FFF , 264px 815px #FFF , 1481px 333px #FFF , 1688px 652px #FFF , 514px 195px #FFF , 1177px 876px #FFF , 239px 55px #FFF , 1650px 1512px #FFF , 711px 741px #FFF , 593px 38px #FFF , 733px 926px #FFF , 1186px 417px #FFF , 1848px 1688px #FFF , 335px 209px #FFF , 282px 1297px #FFF , 1441px 1772px #FFF , 1681px 1945px #FFF , 1049px 825px #FFF , 149px 862px #FFF , 270px 120px #FFF , 1385px 1325px #FFF , 572px 525px #FFF , 326px 429px #FFF , 1084px 861px #FFF , 1641px 236px #FFF , 160px 1168px #FFF , 1094px 1281px #FFF , 1784px 808px #FFF , 512px 623px #FFF , 1681px 324px #FFF , 1054px 1680px #FFF , 1164px 165px #FFF , 1320px 1757px #FFF , 1638px 1753px #FFF , 704px 1832px #FFF , 1078px 1828px #FFF , 1178px 1382px #FFF , 1902px 338px #FFF , 1076px 638px #FFF , 956px 400px #FFF , 1093px 750px #FFF , 354px 764px #FFF , 1586px 404px #FFF , 1907px 1150px #FFF , 518px 1504px #FFF , 127px 990px #FFF , 1337px 815px #FFF , 519px 299px #FFF , 961px 1227px #FFF , 1919px 880px #FFF , 1314px 1135px #FFF , 1969px 1757px #FFF , 606px 691px #FFF , 837px 68px #FFF , 1354px 720px #FFF , 1441px 27px #FFF , 1145px 1238px #FFF , 1950px 1621px #FFF , 1077px 1519px #FFF , 8px 1116px #FFF , 1306px 1702px #FFF , 1671px 1290px #FFF , 423px 1136px #FFF , 1726px 693px #FFF , 239px 519px #FFF , 1163px 637px #FFF , 1550px 814px #FFF , 956px 1917px #FFF , 1932px 1240px #FFF , 1053px 1545px #FFF , 1772px 331px #FFF , 1138px 1418px #FFF , 539px 999px #FFF , 258px 983px #FFF , 795px 1013px #FFF , 1927px 1159px #FFF , 736px 1574px #FFF , 302px 1983px #FFF , 1471px 1157px #FFF , 215px 1466px #FFF , 267px 1220px #FFF , 1351px 1727px #FFF , 800px 1061px #FFF , 1749px 1556px #FFF , 897px 987px #FFF , 449px 452px #FFF , 648px 174px #FFF , 1248px 1273px #FFF , 1459px 1935px #FFF , 161px 1353px #FFF , 1304px 45px #FFF , 455px 1878px #FFF , 100px 266px #FFF , 654px 1462px #FFF , 404px 1337px #FFF , 237px 871px #FFF , 1426px 247px #FFF , 803px 1514px #FFF , 1044px 1573px #FFF , 76px 1188px #FFF , 1405px 831px #FFF , 1958px 4px #FFF , 967px 883px #FFF , 1082px 1679px #FFF , 1737px 48px #FFF , 765px 522px #FFF , 864px 1800px #FFF , 1166px 1564px #FFF , 127px 34px #FFF , 1913px 1874px #FFF , 981px 1485px #FFF , 356px 1385px #FFF , 1316px 1271px #FFF , 671px 322px #FFF , 1804px 1251px #FFF , 74px 750px #FFF , 868px 295px #FFF , 107px 1052px #FFF , 752px 45px #FFF , 1497px 339px #FFF , 364px 853px #FFF , 733px 446px #FFF , 1985px 127px #FFF , 1358px 1741px #FFF , 760px 1077px #FFF , 769px 335px #FFF , 39px 1013px #FFF , 481px 1891px #FFF , 397px 104px #FFF , 1773px 1475px #FFF , 8px 32px #FFF , 906px 602px #FFF , 1191px 238px #FFF , 1343px 303px #FFF , 1970px 13px #FFF , 1092px 1939px #FFF , 622px 1423px #FFF , 1267px 1597px #FFF , 1234px 1410px #FFF , 627px 176px #FFF , 1254px 1606px #FFF , 1557px 1604px #FFF , 1192px 1087px #FFF , 1477px 1956px #FFF , 1813px 74px #FFF , 1873px 1467px #FFF , 134px 1737px #FFF , 250px 813px #FFF , 301px 1138px #FFF , 1814px 353px #FFF , 550px 468px #FFF , 328px 958px #FFF , 640px 1975px #FFF , 1267px 1208px #FFF , 604px 431px #FFF , 1317px 1337px #FFF , 963px 370px #FFF , 196px 567px #FFF , 742px 1725px #FFF , 1822px 1552px #FFF , 188px 1928px #FFF , 38px 743px #FFF , 1819px 1842px #FFF , 876px 1230px #FFF , 349px 946px #FFF , 1648px 164px #FFF , 77px 518px #FFF , 706px 321px #FFF , 589px 834px #FFF , 668px 347px #FFF , 1044px 889px #FFF , 1359px 358px #FFF , 135px 659px #FFF , 36px 285px #FFF , 1419px 82px #FFF , 765px 1148px #FFF , 398px 1346px #FFF , 1003px 1366px #FFF , 1177px 809px #FFF , 1959px 646px #FFF , 1905px 641px #FFF , 479px 362px #FFF , 1859px 96px #FFF , 83px 1645px #FFF , 1834px 1880px #FFF , 584px 1140px #FFF , 1943px 901px #FFF , 1334px 783px #FFF , 1466px 530px #FFF , 1556px 151px #FFF , 1085px 410px #FFF , 1712px 1172px #FFF , 326px 1661px #FFF , 653px 314px #FFF , 1748px 511px #FFF , 1877px 1947px #FFF , 942px 853px #FFF , 641px 929px #FFF , 1241px 387px #FFF , 1032px 167px #FFF , 611px 960px #FFF , 173px 467px #FFF , 642px 1252px #FFF , 1181px 1835px #FFF , 1187px 847px #FFF , 1236px 399px #FFF , 564px 1711px #FFF , 1879px 1030px #FFF , 323px 1608px #FFF , 330px 1054px #FFF , 1344px 425px #FFF , 1332px 1271px #FFF , 1158px 1796px #FFF , 1327px 1904px #FFF , 971px 685px #FFF , 984px 1029px #FFF , 1026px 1858px #FFF , 1255px 1968px #FFF , 453px 1263px #FFF , 932px 1740px #FFF , 1094px 1162px #FFF , 1588px 1946px #FFF , 432px 1102px #FFF , 737px 1470px #FFF , 290px 512px #FFF , 150px 1438px #FFF , 1348px 1181px #FFF , 1814px 1580px #FFF , 873px 1968px #FFF , 855px 1326px #FFF , 1066px 1023px #FFF , 1154px 1422px #FFF , 227px 440px #FFF , 190px 1444px #FFF , 975px 221px #FFF , 781px 1100px #FFF , 1138px 1181px #FFF , 1586px 857px #FFF , 696px 340px #FFF , 513px 1511px #FFF , 792px 974px #FFF , 1680px 433px #FFF , 1920px 921px #FFF , 1027px 1542px #FFF , 259px 1127px #FFF , 830px 1097px #FFF , 538px 54px #FFF , 1878px 699px #FFF , 150px 412px #FFF , 1092px 827px #FFF , 657px 1143px #FFF , 1048px 402px #FFF , 1127px 749px #FFF , 807px 918px #FFF , 1613px 344px #FFF , 915px 1426px #FFF , 1447px 67px #FFF , 1269px 1387px #FFF , 281px 1855px #FFF , 1514px 629px #FFF , 929px 1756px #FFF , 1933px 871px #FFF , 397px 443px #FFF , 999px 916px #FFF , 1197px 1891px #FFF , 1186px 1876px #FFF , 1659px 675px #FFF , 1555px 234px #FFF , 1124px 1617px #FFF , 1909px 869px #FFF , 349px 826px #FFF , 424px 236px #FFF , 1028px 803px #FFF , 1742px 272px #FFF , 1655px 1211px #FFF , 560px 1965px #FFF , 377px 696px #FFF , 999px 983px #FFF , 1517px 1800px #FFF , 1843px 1712px #FFF , 288px 239px #FFF , 58px 1243px #FFF , 1714px 791px #FFF , 1662px 317px #FFF , 1719px 866px #FFF , 73px 1927px #FFF , 1603px 401px #FFF , 1815px 1447px #FFF , 1592px 1926px #FFF , 635px 847px #FFF , 1733px 1157px #FFF , 808px 993px #FFF , 1809px 663px #FFF , 1547px 1143px #FFF , 1432px 1801px #FFF , 1949px 1067px #FFF , 1181px 1938px #FFF , 1773px 462px #FFF , 497px 138px #FFF , 1100px 1418px #FFF , 37px 1769px #FFF , 1817px 1228px #FFF , 1293px 1039px #FFF , 1096px 419px #FFF , 184px 472px #FFF , 1908px 171px #FFF , 519px 963px #FFF , 504px 1954px #FFF , 549px 1253px #FFF , 1104px 1013px #FFF , 1184px 1290px #FFF , 908px 1981px #FFF , 1520px 126px #FFF , 429px 899px #FFF , 178px 1456px #FFF , 64px 887px #FFF , 1356px 1570px #FFF , 271px 1597px #FFF , 257px 1107px #FFF , 55px 1919px #FFF , 1313px 895px #FFF , 288px 836px #FFF , 494px 331px #FFF , 1654px 1287px #FFF , 1973px 1400px #FFF , 877px 1351px #FFF , 543px 1094px #FFF , 986px 1755px #FFF , 603px 284px #FFF , 862px 1644px #FFF , 1507px 1123px #FFF , 1265px 1646px #FFF , 78px 361px #FFF , 1510px 555px #FFF , 93px 1213px #FFF , 276px 736px #FFF , 1044px 83px #FFF , 1493px 1555px #FFF , 543px 860px #FFF , 534px 1695px #FFF , 954px 1590px #FFF , 1355px 1641px #FFF , 591px 1653px #FFF , 33px 1171px #FFF , 369px 531px #FFF , 1390px 177px #FFF , 1505px 959px #FFF , 473px 306px #FFF , 1274px 406px #FFF , 1515px 1303px #FFF , 401px 800px #FFF , 439px 1298px #FFF , 1862px 1447px #FFF , 282px 1927px #FFF , 1581px 1210px #FFF , 734px 652px #FFF , 1953px 182px #FFF , 1318px 1776px #FFF , 1655px 1631px #FFF , 81px 1412px #FFF , 986px 367px #FFF , 655px 1760px #FFF , 55px 1686px #FFF , 195px 1841px #FFF , 76px 99px #FFF , 1405px 1695px #FFF , 968px 1511px #FFF , 529px 513px #FFF , 1699px 878px #FFF , 1532px 1391px #FFF , 1903px 1438px #FFF , 55px 1890px #FFF , 1051px 630px #FFF , 1334px 667px #FFF , 1365px 371px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 744px 1086px #FFF , 31px 475px #FFF , 673px 1100px #FFF , 1620px 370px #FFF , 1595px 1955px #FFF , 1339px 566px #FFF , 1554px 161px #FFF , 303px 704px #FFF , 1326px 1811px #FFF , 1410px 1544px #FFF , 1438px 1995px #FFF , 1265px 1299px #FFF , 1013px 177px #FFF , 644px 738px #FFF , 1816px 283px #FFF , 1530px 1580px #FFF , 104px 1159px #FFF , 1776px 40px #FFF , 4px 1520px #FFF , 1477px 262px #FFF , 1426px 1344px #FFF , 503px 161px #FFF , 675px 691px #FFF , 1625px 773px #FFF , 431px 490px #FFF , 965px 244px #FFF , 120px 1355px #FFF , 523px 1469px #FFF , 1235px 84px #FFF , 739px 1371px #FFF , 12px 1889px #FFF , 296px 367px #FFF , 1531px 1680px #FFF , 486px 175px #FFF , 126px 472px #FFF , 837px 137px #FFF , 294px 280px #FFF , 475px 39px #FFF , 425px 1864px #FFF , 412px 1530px #FFF , 1346px 934px #FFF , 85px 859px #FFF , 1214px 316px #FFF , 643px 1113px #FFF , 1307px 1484px #FFF , 1375px 1281px #FFF , 382px 336px #FFF , 1462px 1858px #FFF , 210px 1515px #FFF , 661px 588px #FFF , 746px 946px #FFF , 1230px 902px #FFF , 1650px 1980px #FFF , 58px 852px #FFF , 61px 1303px #FFF , 1192px 749px #FFF , 1626px 1123px #FFF , 548px 870px #FFF , 130px 1230px #FFF , 113px 1123px #FFF , 640px 1727px #FFF , 1931px 1750px #FFF , 279px 1734px #FFF , 1883px 913px #FFF , 994px 549px #FFF , 289px 1643px #FFF , 463px 495px #FFF , 1141px 273px #FFF , 695px 428px #FFF , 1268px 1271px #FFF , 756px 444px #FFF , 1828px 1746px #FFF , 1489px 1836px #FFF , 1908px 699px #FFF , 110px 364px #FFF , 55px 1363px #FFF , 1153px 657px #FFF , 294px 995px #FFF , 664px 321px #FFF , 1582px 1914px #FFF , 997px 1863px #FFF , 378px 113px #FFF , 1476px 135px #FFF , 627px 552px #FFF , 1970px 1808px #FFF , 1092px 238px #FFF , 1107px 856px #FFF , 1797px 5px #FFF , 1384px 600px #FFF , 1303px 1446px #FFF , 702px 969px #FFF , 1905px 918px #FFF , 1487px 1866px #FFF , 686px 908px #FFF , 1804px 1279px #FFF , 159px 961px #FFF , 473px 656px #FFF , 1414px 174px #FFF , 1317px 1451px #FFF , 1180px 535px #FFF , 478px 55px #FFF , 729px 941px #FFF , 1561px 1497px #FFF , 81px 1932px #FFF , 1318px 1717px #FFF , 1607px 894px #FFF , 10px 228px #FFF , 87px 1472px #FFF , 673px 537px #FFF , 1686px 162px #FFF , 990px 819px #FFF , 42px 371px #FFF , 218px 1507px #FFF , 631px 1464px #FFF , 233px 357px #FFF , 1171px 654px #FFF , 750px 406px #FFF , 1185px 1675px #FFF , 1328px 1590px #FFF , 5px 10px #FFF , 1137px 514px #FFF , 416px 1670px #FFF , 286px 403px #FFF , 1535px 165px #FFF , 29px 686px #FFF , 1171px 1992px #FFF , 1916px 845px #FFF , 760px 763px #FFF , 28px 1773px #FFF , 1571px 407px #FFF , 602px 387px #FFF , 1170px 1256px #FFF , 193px 1962px #FFF , 654px 182px #FFF , 1678px 1704px #FFF , 383px 1790px #FFF , 1330px 803px #FFF , 1848px 1465px #FFF , 1396px 1343px #FFF , 126px 810px #FFF , 1122px 674px #FFF , 586px 1324px #FFF , 824px 1977px #FFF , 1196px 995px #FFF , 1275px 1422px #FFF , 1422px 1927px #FFF , 1044px 164px #FFF , 73px 1421px #FFF , 469px 1586px #FFF , 516px 1947px #FFF , 1789px 1671px #FFF , 1521px 1181px #FFF , 743px 981px #FFF , 1866px 279px #FFF , 1312px 1689px #FFF , 1506px 261px #FFF , 817px 1405px #FFF , 1455px 1870px #FFF , 1757px 12px #FFF , 1109px 1752px #FFF , 2000px 222px #FFF , 55px 1586px #FFF , 83px 1829px #FFF , 1809px 1602px #FFF , 136px 1120px #FFF , 382px 436px #FFF , 1023px 15px #FFF , 1690px 1338px #FFF , 134px 1928px #FFF , 964px 1656px #FFF , 1718px 602px #FFF , 1990px 780px #FFF , 1978px 1280px #FFF , 1782px 911px #FFF , 1863px 1235px #FFF , 908px 758px #FFF , 1477px 1810px #FFF , 397px 561px #FFF , 1959px 433px #FFF , 982px 780px #FFF , 1969px 1409px #FFF , 228px 1947px #FFF , 107px 1647px #FFF , 975px 1275px #FFF , 744px 1344px #FFF , 1133px 1813px #FFF , 265px 1933px #FFF , 492px 18px #FFF , 1712px 523px #FFF , 711px 1746px #FFF , 144px 1690px #FFF , 1783px 1345px #FFF , 539px 1294px #FFF , 281px 1566px #FFF , 1701px 757px #FFF , 1196px 1446px #FFF , 931px 995px #FFF , 1607px 872px #FFF , 372px 1140px #FFF , 419px 1154px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1599px 743px #FFF , 362px 1652px #FFF , 1422px 81px #FFF , 185px 1546px #FFF , 703px 1481px #FFF , 120px 735px #FFF , 413px 1536px #FFF , 876px 17px #FFF , 1410px 1120px #FFF , 1120px 1383px #FFF , 628px 531px #FFF , 1106px 319px #FFF , 1288px 266px #FFF , 783px 1820px #FFF , 1663px 137px #FFF , 784px 913px #FFF , 1738px 1892px #FFF , 1765px 405px #FFF , 1425px 1138px #FFF , 1439px 990px #FFF , 1098px 1200px #FFF , 110px 871px #FFF , 1022px 620px #FFF , 1733px 435px #FFF , 434px 897px #FFF , 1637px 1292px #FFF , 1094px 202px #FFF , 577px 669px #FFF , 1747px 768px #FFF , 176px 1865px #FFF , 325px 318px #FFF , 547px 1951px #FFF , 294px 1425px #FFF , 1893px 1478px #FFF , 1636px 478px #FFF , 1631px 1488px #FFF , 129px 739px #FFF , 25px 751px #FFF , 710px 1102px #FFF , 255px 234px #FFF , 607px 1673px #FFF , 1997px 1205px #FFF , 1185px 306px #FFF , 875px 245px #FFF , 757px 1610px #FFF , 1420px 1881px #FFF , 1532px 1040px #FFF , 260px 1476px #FFF , 970px 596px #FFF , 86px 418px #FFF , 191px 1468px #FFF , 1019px 347px #FFF , 486px 1377px #FFF , 359px 925px #FFF , 1343px 709px #FFF , 26px 1906px #FFF , 66px 180px #FFF , 505px 1247px #FFF , 395px 1445px #FFF , 1393px 1192px #FFF , 566px 936px #FFF , 1740px 987px #FFF , 124px 634px #FFF , 1664px 166px #FFF , 464px 552px #FFF , 621px 1741px #FFF , 1111px 262px #FFF , 1162px 1115px #FFF , 271px 480px #FFF , 1898px 517px #FFF , 90px 1251px #FFF , 401px 637px #FFF , 1725px 322px #FFF , 1265px 343px #FFF , 1906px 1024px #FFF , 1216px 1899px #FFF , 988px 836px #FFF , 186px 822px #FFF , 889px 1131px #FFF , 1565px 1813px #FFF , 713px 1842px #FFF , 201px 1018px #FFF , 1206px 517px #FFF , 569px 529px #FFF , 594px 286px #FFF , 1090px 175px #FFF , 574px 1407px #FFF , 1250px 406px #FFF , 1723px 737px #FFF , 900px 836px #FFF , 1158px 205px #FFF , 1045px 1343px #FFF , 1836px 817px #FFF , 1310px 709px #FFF , 666px 1010px #FFF , 1994px 312px #FFF , 626px 1519px #FFF , 1827px 1394px #FFF , 1930px 950px #FFF , 1349px 279px #FFF;
}

.stage {
  height: 300px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 800px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: both;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 900 10em 'Monserrat', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'Science!';
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: #19ff91;
  letter-spacing: -6px;
  text-shadow: 3px 0 1px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-0.75px);
}

.layer:nth-child(3):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(4):after {
  transform: translateZ(-2.25px);
}

.layer:nth-child(5):after {
  transform: translateZ(-3px);
}

.layer:nth-child(6):after {
  transform: translateZ(-3.75px);
}

.layer:nth-child(7):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(8):after {
  transform: translateZ(-5.25px);
}

.layer:nth-child(9):after {
  transform: translateZ(-6px);
}

.layer:nth-child(10):after {
  transform: translateZ(-6.75px);
}

.layer:nth-child(11):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(12):after {
  transform: translateZ(-8.25px);
}

.layer:nth-child(13):after {
  transform: translateZ(-9px);
}

.layer:nth-child(14):after {
  transform: translateZ(-9.75px);
}

.layer:nth-child(15):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(16):after {
  transform: translateZ(-11.25px);
}

.layer:nth-child(17):after {
  transform: translateZ(-12px);
}

.layer:nth-child(18):after {
  transform: translateZ(-12.75px);
}

.layer:nth-child(19):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(20):after {
  transform: translateZ(-14.25px);
}

.layer:nth-child(21):after {
  transform: translateZ(-15px);
}

.layer:nth-child(22):after {
  transform: translateZ(-15.75px);
}

.layer:nth-child(23):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(24):after {
  transform: translateZ(-17.25px);
}

.layer:nth-child(25):after {
  transform: translateZ(-18px);
}

.layer:nth-child(26):after {
  transform: translateZ(-18.75px);
}

.layer:nth-child(27):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(28):after {
  transform: translateZ(-20.25px);
}

.layer:nth-child(29):after {
  transform: translateZ(-21px);
}

.layer:nth-child(30):after {
  transform: translateZ(-21.75px);
}

.layer:nth-child(31):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(32):after {
  transform: translateZ(-23.25px);
}

.layer:nth-child(33):after {
  transform: translateZ(-24px);
}

.layer:nth-child(34):after {
  transform: translateZ(-24.75px);
}

.layer:nth-child(35):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(36):after {
  transform: translateZ(-26.25px);
}

.layer:nth-child(37):after {
  transform: translateZ(-27px);
}

.layer:nth-child(38):after {
  transform: translateZ(-27.75px);
}

.layer:nth-child(39):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(40):after {
  transform: translateZ(-29.25px);
}

.layer:nth-child(41):after {
  transform: translateZ(-30px);
}

.layer:nth-child(42):after {
  transform: translateZ(-30.75px);
}

.layer:nth-child(43):after {
  transform: translateZ(-31.5px);
}

.layer:nth-child(44):after {
  transform: translateZ(-32.25px);
}

.layer:last-child:after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.1);
  color: #0041e1;
}

.layer:first-child:after {
  color: #0041e1;
  -webkit-text-stroke: 1px #0041e1;
  text-shadow: -1px 0 #0041e1, 0 1px #0041e1, 1px 0 #0041e1, 0 -1px #0041e1;
}

@keyframes rotation {
  0% {
    transform: rotateY(70deg) rotateX(45deg);
  }
  100% {
    transform: rotateY(-70deg) rotateX(-45deg);
  }
}

